<!DOCTYPE HTML>
<html>

    <head>
        <title>Vokab</title>
        {% load staticfiles %}

        <script type="text/javascript" src="{% static 'myapp/js/jquery.min.js' %}"></script>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

        <script type="text/javascript">

            jQuery(document).ready(function() {

                    // letter keys click event handler
                    jQuery(".button").click(function() {
                        var input_string = $(this).attr("name");
                        var btn = $(this);
                        jQuery.ajax({
                            type: "POST",
                            async: true,
                            data: {
                                key: input_string,
                                csrfmiddlewaretoken: '{{ csrf_token }}',
                            },
                            success: function(data) {
                                jQuery('.banner #status').html(data.status).hide().fadeIn(1500);
                                jQuery('.banner #message').html(data.message);
                                if(data.eog === true)
                                    jQuery(".button").attr("disabled", true);
                                else
                                    btn.attr("disabled", "true");
                            },
                        });
                        return false;
                    });

                    // New game handler
                    jQuery("#reset").click(function() {

                        // jQuery.ajax call
                        jQuery.ajax({
                            type: "POST",
                            data: {
                                key: "reset",
                                csrfmiddlewaretoken: '{{ csrf_token }}',
                            },
                            success: function(data) {
                                jQuery('.banner #status').html(data.status).hide().fadeIn(1000);
                                jQuery('.banner #message').html(data.message).hide().fadeIn(1000);
                                jQuery(".button").removeAttr("disabled");
                            },
                        });

                        return false;
                    });

            });

        </script>

    </head>


    <body>
        <div class="container">
            <!-- Page Header -->
            <div class="page-header">
                <div class="clearfix">
                    <div class="col-md-12">
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <h2>Vokab <br/><br/><small>A simple word guessing game to improve your vocabulary </small></h2>
                        </div>
                    </div>
                </div>
            </div>


        <div class="well col-md-8 col-sm-6 col-xs-12">
        <div class="banner">
            <h3 id="status">
            {% if status %}
            {{status}}
            {% endif %}
            </h3>
            <p id="message">
            {% if message %}
              {{message}}
            {% endif %}
            </p>
        </div>
        </div> <!-- end of well -->
        <br>

        <div class="well col-md-8 col-sm-6"> 
        <form class="form" method="post">{% csrf_token %}
                <button type="button" class="btn btn-sm button" name="A">A</button>    
                <button type="button" class="btn btn-sm button" name="B">B</button>    
                <button type="button" class="btn btn-sm button" name="C">C</button>    
                <button type="button" class="btn btn-sm button" name="D">D</button>    
                <button type="button" class="btn btn-sm button" name="E">E</button>    
                <button type="button" class="btn btn-sm button" name="F">F</button>    
                <button type="button" class="btn btn-sm button" name="G">G</button>    
                <button type="button" class="btn btn-sm button" name="H">H</button>    
                <button type="button" class="btn btn-sm button" name="I">I</button>   
                <button type="button" class="btn btn-sm button" name="J">J</button>    
                <button type="button" class="btn btn-sm button" name="K">K</button>    
                <button type="button" class="btn btn-sm button" name="L">L</button>    
                <button type="button" class="btn btn-sm button" name="M">M</button>    
                <button type="button" class="btn btn-sm button" name="N">N</button>    
                <button type="button" class="btn btn-sm button" name="O">O</button>    
                <button type="button" class="btn btn-sm button" name="P">P</button>    
                <button type="button" class="btn btn-sm button" name="Q">Q</button>    
                <button type="button" class="btn btn-sm button" name="R">R</button>    
                <button type="button" class="btn btn-sm button" name="S">S</button>    
                <button type="button" class="btn btn-sm button" name="T">T</button>    
                <button type="button" class="btn btn-sm button" name="U">U</button>    
                <button type="button" class="btn btn-sm button" name="V">V</button>    
                <button type="button" class="btn btn-sm button" name="W">W</button>    
                <button type="button" class="btn btn-sm button" name="X">X</button>    
                <button type="button" class="btn btn-sm button" name="Y">Y</button>    
                <button type="button" class="btn btn-sm button" name="Z">Z</button>    
                <br><br>

            <button type="button" class="btn btn-primary" id="reset" name="reset">New Game</button>
            </form>
            </div>


        </div> <!-- end of container class -->

<style>
.button {
    padding: 6px;
    background-color: #4f595c;
    color: #fff;
}
</style>
    </body>


</html>
